* {
  color: #343a40;
}

.navigation {
  display: flex;
  color: white;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0.5rem 0;
  background-color: #f03e3e;
  /* box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23); */
}

.drop {
  border: 0;
  height: 50px;
  width: 50px;
  padding: 0.1rem;
  border-radius: 50%;
  background-color: pink;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.drop:hover {
  background-color: #fde047;
}

.name {
  text-decoration: none;
  color: #1c1917;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.nav-menu ul {
  display: flex;
  /* gap: 3rem; */
}

.nav-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.nav-menu li a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
}
.nav-menu li a:hover {
  transition: all 0.2s ease-in;
  color: white;
}

@media screen and (max-width: 750px) {
  .drop {
    display: block; 
  }

  

  .nav-menu ul {
    display: none;
    position: absolute;
    top: 76px;
    left: 0;
    padding-left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 90px);
    background-color: white;
    /* border-top: 1px solid black; */
  }

  .nav-menu li {
    text-align: center;
    margin: 0;
  }

  .nav-menu.expanded ul {
    height: 100%;
    display: block;
  }

  .nav-menu li:hover {
    transition: all 0.2s ease-in;
    background-color: #f03e3e;
  }

  .nav-menu li a {
    color: black;
    width: 100%;
    padding: 0.9rem 0;
  }
}

.link {
  font-weight: 500;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 16px;
  padding: 5px;
  max-width: 500px;
  margin: 0 auto;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 5px;
  font-size: 16px;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}


/* 
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: pink;

}

.nav-links{
margin-left: auto;
}

.nav-links ul{
                            
    margin: 0;
    padding: 0;
    display: flex;
    
}

.nav-links li{
    
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.nav-links li:hover {
    transition: background-color 0.7s ease;
    background-color: aquamarine;
} */
