.body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.header__title__about {
  background-color: #f1f1f1;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.h1 {
  margin: 0;
  font-size: 36px;
  color: #333;
}

.mission {
  padding: 50px;
  background-color: #eee;
  text-align: center;
}
.features {
  padding: 50px;
  text-align: center;
}
.features h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}
.features ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.features li {
  display: inline-block;
  margin: 0 10px;
}
.team {
  padding: 50px;
  background-color: #eee;
  text-align: center;
}
.team h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}
.team ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.team li {
  display: inline-block;
  margin: 0 10px;
}
.contact {
  padding: 50px;
  text-align: center;
}
.contact h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}
