/* ImageUpload.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.result {
  margin-top: 30px;
}

.result img {
  max-width: 200px;
  max-height: 200px;
}
