.login-container {
  height: 200px;
}

.login-content {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}
