<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dress Yourself</title>
</head>
<body>
    <h1>Dress ME Up</h1>
    
    <form id="upload-form">
        <input type="file" name="file" id="file" required>
        <button type="submit">Predict</button>
    </form>
    <h2 id="prediction"></h2>
    <img id="uploaded-image" alt="Uploaded Image" width="100" height="100" style="display:none">
    <script src="./static/js/app.js"></script>
</body>
</html>



